.comment_container {
    width: 450px;
    height: 150px;
    text-align: left;
    padding: 30px;
    border: 1px solid rgba(0, 0, 0, 0.503);
    border-radius: 20px;
    background-color: white;
  }
  
  
  .contentContainer {
    display: flex;
    justify-content: space-between;
    background-color: white;
  }
  
  
  .imageContainer img {
    width: 10px; 
    height: 10px; 
  }
  

  .title img{
    width: 20px;
    height: 20px;
  }

  .text {
    color: rgba(0, 0, 0, 0.503);
    font-size: 12px;
    background-color: white;
    width: 450px;
  }
  
  .date{
    color: rgba(0, 0, 0, 0.626);
    font-size: 14px;
    background-color: white;
    width: 450px;
  }

  .commentsArea__container{
    width: 1087px; 
    height: auto;
    margin: 0 auto;  
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 50px;
    padding: 0 !important;
}

.button {
    padding:10px 22px;
    color: #606060;
    background-color: #f0f0f0;
    border-radius: 20px;
    margin-top: 30px;
    transition: 1s;
}
.button:hover{
    background-color: black;
    color: white;
}