.main__container{
    width: 100%;
    background-color: #f2f0f1;
    position: relative;
}

.main_container {
    width: 1440px; 
    height: 700px;
    margin: 0 auto; 
    background-color: #f2f0f1;
}


.image_container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.main__image {
    max-width: 50%;
    height: 100%;
    object-fit: cover;
}


.text__overlay {
    position: absolute;
    max-width: 50%;
    top: 250px;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: left !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button{
    border-radius: 62px;
    width: 210px;
    height: 52px;
    background-color: black;
    color: white;

}

.button_container{
    padding: 0 35px;
    margin-top: 10px;
} 

.first__text__overlay{
    font-size: 64px;
    font-weight: 900;
    padding: 0 35px;
    line-height: 1;
    margin-bottom: 10px;
}

.second__text__overlay{
    color: rgba(0, 0, 0, 0.503) ;
    padding: 0 35px;
    line-height: 1;

}
.textAndStar{
    display: flex;
    justify-content: space-between;
}

.blackstar{
    width: 60px; 
    height: 60px; 
}

.blackstarForCorner{
    position: absolute;
    top: 80px; 
    right: -650px; 
    width: 80px; 
    height: 80px; 
}


.statistics_heading{
    line-height: 0.2; 
}
.statistics__text {
    line-height: 0.6; 
}

.after__button_container {
    display: flex;
    padding: 0 35px;
    margin-top: 10px; 
    margin-bottom: 20px;
}

.statistics {
    border-right: 1px solid rgba(0, 0, 0, 0.503);
    width: 100%;
    margin-right: 20px;
}

.statistics_heading {
    font-weight: 700;
    font-size: 34px;
}

.statistics__text {
    color: rgba(0, 0, 0, 0.503);
    font-size: 16px;
}

.lastStatistics {
    border-right: none;
}


.brandsContainer {
        background-color: black;
        text-align: center;
        position: absolute;
        bottom: 0;
        left: 0%;
        width: 100%; 
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
      
    }
    
.brands__image{
    margin: 20px 30px;
    max-height: 30px; 
}


@media only screen and (max-width: 600px){
    .main__container{
        width: 100%;
        background-color: #f2f0f1;
        position: absolute;
        z-index: 999;
    }
    
      
    .image_container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction:column;
        gap: 10px;
        position: absolute;

    }
    .main__image {
        max-width: 100%;
        height: 100%;
        object-fit: cover;
        order: 2;
    }
    
    
    .text__overlay {
        max-width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        order: 1;
        position: relative;
        left: 0;
        top: 0;
        transform: translate(0);
    }
    
    .first__text__overlay{
        font-size: 54px;
        font-weight: 900;
        padding: 0 35px;
        line-height: 1;
        margin-bottom: 10px;
        text-align: center;
    }
    .second__text__overlay{
      text-align: center;
    
    }
    .textAndStar{
        display: flex;
        justify-content: space-between;
    }
    
    .blackstar{
        display: none;
    }
    
    .blackstarForCorner{
     display: none;
    }
    
    .button_container{
        display: flex;
        justify-content: center;
    }
    
   
    .after__button_container {
        display: flex;
        padding: 0;
        margin-top: 10px; 
        margin-bottom: 20px;
        max-width: 400px;
        margin: o auto;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .statistics {
        width: 160px;
        margin: 0;
    }
    
    .brandsContainer {
         height: 150px;
        flex-wrap: wrap;
        top: 180%;
        }
        
    .brands__image{
        margin: 10px 20px;
        max-height: 30px; 
    }
    

}

