.main__container{
    width: 100%;
    background-color: #f2f0f1;
    position: relative;
}

.main_container {
    max-width: 1440px; 
    height: 685px;
    margin: 0 auto; 
    background-color: #f2f0f1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
}


.image_container {
    max-width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.main__image {
    height: 100%;
    width: 100%;
    object-fit: cover;

}


.text__overlay {
    max-width: 50%;
    margin-top: 50px;
    text-align: left !important;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.button{
    border-radius: 62px;
    width: 210px;
    height: 52px;
    background-color: black;
    color: white;

}

.button_container{
    padding: 0 35px;
    margin-top: 10px;
} 

.first__text__overlay{
    font-size: 64px;
    margin-top: 0;
    font-weight: 900;
    padding: 0 35px;
    line-height: 1;
    margin-bottom: 10px;
    font-family: "Integral CF";
}

.second__text__overlay{
    color: rgba(0, 0, 0, 0.503) ;
    padding: 0 35px;
    line-height: 1;

}
.textAndStar{
    display: flex;
    justify-content: space-between;
}

.blackstar{
    width: 70px; 
    height: 70px; 
}

.blackstarForCorner{
    position: absolute;
    top: 50px; 
    right: 50px; 
    width: 80px; 
    height: 80px; 
}


.statistics_heading{
    line-height: 0.2; 
    font-size: 32px;
    font-family: 'Satoshi Medium';
    font-weight: 900;
}
.statistics__text {
    line-height: 0.6; 
    color: rgba(0, 0, 0, 0.503);
    font-size: 16px;
}

.after__button_container {
    display: flex;
    padding: 0 35px;
    margin-top: 10px; 
    margin-bottom: 20px;
}

.statistics {
    border-right: 1px solid rgba(0, 0, 0, 0.503);
    width: 100%;
    margin-right: 20px;
}


.lastStatistics {
    border-right: none;
}


.brandsContainer {
    background-color: black;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0%;
    width: 100%; 
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
      
    }
    
.brands__image{
    margin: 30px 40px;
    max-height: 30px; 
}


@media only screen and (max-width: 600px){

    .main_container {
        max-width: 600px; 
        height: 100%;
        margin: 0 auto; 
        background-color: #f2f0f1;
        display: flex;
        flex-direction: column-reverse;
       align-items: center;
           }
   
    
    .text__overlay {
        max-width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        order: 1;
        left: 0;
        top: 0;
        transform: translate(0);
    }
    
    .first__text__overlay{
        font-size: 54px;
        font-weight: 900;
        padding: 0 35px;
        line-height: 1;
        margin-bottom: 10px;
        text-align: center;
    }
    .second__text__overlay{
      text-align: center;
    
    }
    .blackstar{
        display: none;
    }
    
    .blackstarForCorner{
     display: none;
    }
    
    .button_container{
        display: flex;
        justify-content: center;
    }
    
   
    .after__button_container {
        display: flex;
        padding: 0;
        margin-top: 10px; 
        margin-bottom: 20px;
        max-width: 400px;
        margin: o auto;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .statistics {
        width: 160px;
        margin: 0;
    }
    
    .brandsContainer {
         height: 120px;
        flex-wrap: wrap;
        bottom: 0;
        }
        
    .brands__image{
        margin: 10px 20px;
        max-height: 30px; 
    }
    

}