
.product_Card {
    display: flex;
    align-items: center;
    flex-direction: column; 
    height: 100%;
    width: 100%;
    background-color: white; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 25px;
 
}
.product_image_container{
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
   
}
.product_Image {
    width: 200px;
    height: 200px;
    object-fit: contain;
    border-radius: 5px;
}

.product_Details {
    margin-top: 2px;
  
}

.product_Name {
    font-size: 20px;
    margin-bottom: 5px;
    color: black;
    font-family: 'Satoshi Medium';
}

.product_Rating {
    font-size: 16px;
    color: #888;
}

.product_Price {
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.highRating {
    color: red; 
  }
  
  .lowRating {
    color: grey;
  }
  
